body {
    font-family: sans-serif;
    background-color: salmon;
}

h1 {
    text-align: center;
    background-color: red;

}
p{
text-align: center;
background-color: royalblue;
}
.g{
font-size: 50px;
color: rgb(142, 177, 77);
background-color: blueviolet;
}
